.scrollableContentContainer {
	background: #f3f4f5;
}

#scrollableContentContainer {
	.header-block {
		height: 80px;
		width: 100%;

		background: white;
		border-bottom: 1px solid #ADADAD;

		h2 {
			line-height: 80px;
			margin-left: 20px;
			font-size: 20px;
		}
	}


	.main-content {
		margin: 15px;


		.admin-content {
			box-shadow: 0 0 4px #AAA;
			border-radius: 1px;

			background: #ebebeb;

			padding: 20px 20px 30px 20px;

			margin-bottom: 30px;
		}
	}
}
