/* Backgrounds */ 
$main-background-colour: #dcdcdc;
$sidebar-background-colour: #161616;

/* Font Colour */ 
$primary-font-colour: #161616;
$primary-invert-font-colour: white;

/* Active Colours */ 
$primary-active-colour: #1298de;
$secondary-active-colour: #22b3ff;