hr {
	border: 0;
	border-top: 1px solid #3a3a3a;
	padding: 5px 5px;
	margin: 10px 0;

	display: block;
}

a {
    color: #7B4;
    text-decoration: none;
}
    a:hover,
    a:focus {
        color: #2B9646;
        cursor: pointer;
    }
a.blank {
    color: #101010;
    text-decoration: none;
}
    a.blank:hover,
    a.blank:focus {
        color: #101010;
        cursor: pointer;
    }

p {
	margin: 15px 0;
}

.dropdown-icon {
	display: inline-block;
	margin-bottom: -7px;
	width: 25px;
	height: 25px;
	background-size: 25px;
	background-image: url(../img/icons/icons-25-v0.5.png);
}