@{
	Layout = "~/Views/Shared/_AltLayout.cshtml";
	ViewBag.Title = "Onyx - Welcome";
}

<span class="header">
    <strong>Project Onyx</strong>
    <hr />
    We're not quite ready to talk about this yet, but keep a eye out.
</span>
