@model Onyx.Cartographer.Models.ErrorModel
@{
	Layout = "~/Views/Shared/_AltLayout.cshtml";
	ViewBag.Title = "Onyx Error - " + Model.HttpStatusCode.ToString();
}
<span class="header">
	<strong>@Model.HttpStatusCode.ToString()</strong>
	<hr />
	@Model.HttpStatusMessagePpl
	<!-- @Model.HttpStatusMessageHeh -->	
</span>
