@using Onyx.Cartographer.Models

@{
    var project = ViewData["Project"] as Project;
    if (project == null) { throw new InvalidOperationException(); }

    ViewBag.Title = "Edit Project - " + project.Name;
}

<h2>Edit Project - @project.Name</h2>
