@{
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.Title = "Onyx - Create Gametype";
    ViewBag.VM_Create = "selected";
}

<div class="dropGametypeHint">
    <span>
        Drag and Drop a gametype
    </span>
</div>