.CodeMirror-dialog {
  position: absolute;
  left: 0; right: 0;
  background: #161616;
  z-index: 15;
  padding: .1em .8em;
  overflow: hidden;
  color: #A7A7A7;
}

.CodeMirror-dialog-top {
  border-bottom: 2px solid #1298de;
  top: 0;
}

.CodeMirror-dialog-bottom {
  border-top: 1px solid #eee;
  bottom: 0;
}

.CodeMirror-dialog input {
  border: none;
  outline: none;
  padding: 2px;
  background: #454545;
  color: white;
  width: 20em;
  font-family: monospace;
}

.CodeMirror-dialog button {
  font-size: 70%;
}
