body {
	font-family: 'Source Sans Pro', sans-serif, ariel;
	color: $primary-font-colour;
	background-color: $main-background-colour;
	-webkit-font-smoothing: antialiased;
}

.layoutWrapper > .layoutFluidRightSection {
	position: absolute;
	/* bottom: 90px; */
	bottom: 0px;
	top: 0;
	left: 280px;
	right: 0;
	width: auto;
	height: auto;
	overflow-y: scroll;
	overflow-x: hidden;
}
