.layoutWrapper > .layoutFluidRightSection {
	position: absolute;
	/* bottom: 90px; */
	bottom: 0px;
	top: 25px;
	left: 315px;
	right: 0;
	width: auto;
	height: auto;
	overflow-y: scroll;
	overflow-x: hidden;
}
