@import url(http://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400,600,700,900);
@import url(http://fonts.googleapis.com/css?family=Ubuntu+Mono|Ubuntu:400,500);
/* Backgrounds */
/* Font Colour */
/* Active Colours */
/* Modals */
/* Inputs */
/* Border */
hr {
  border: 0;
  border-top: 1px solid #3a3a3a;
  padding: 5px 5px;
  margin: 10px 0;
  display: block;
}

a {
  color: #7B4;
  text-decoration: none;
}

a:hover,
a:focus {
  color: #2B9646;
  cursor: pointer;
}

.position-relative {
  position: relative;
}

input[type="button"],
input[type="submit"],
button {
  border: 0;
  border-left: 3px solid #22b3ff;
  padding: 8px 10px;
  font-size: 14px;
  margin-top: 5px;
  -o-transition: all .3s;
  -webkit-transition: all .3s;
  -moz-transition: all .3s;
  transition: all .3s;
  line-height: normal;
  display: block;
  cursor: pointer;
  text-align: center;
  background-color: #3b3b3b;
  color: white;
}

input[type="submit"]:hover,
input[type="button"]:hover,
button:hover,
.button:hover {
  background: #22b3ff;
}

body {
  font-family: 'Source Sans Pro', sans-serif, arial;
  color: #161616;
  background-color: gainsboro;
  -webkit-font-smoothing: antialiased;
}

.layoutWrapper {
  height: inherit;
  box-sizing: border-box;
}

.layoutWrapper > #leftColumn {
  background-color: #161616;
}

.layoutWrapper > .layoutFixLeftSection {
  position: absolute;
  top: 165px;
  /* bottom: 90px; */
  bottom: 0px;
  left: 0;
  width: 280px;
  height: auto;
  overflow-x: hidden;
  overflow-y: hidden;
  box-sizing: content-box;
}

.layoutWrapper > .layoutFixLeftSection > .layoutFixTopLeftSection {
  position: fixed;
  top: 0;
  left: 0;
  height: 165px;
  width: 280px;
  padding-top: 40px;
  background-color: #161616;
}

.layoutWrapper > .layoutFixLeftSection > .layoutFixTopLeftSection > .title {
  font-size: 2.5em;
  font-weight: 300;
  margin-left: 40px;
}

.layoutWrapper > .layoutFixLeftSection > .layoutFixTopLeftSection > #logo > #logo-img {
  margin-left: 20px;
  width: 171px;
  height: 49px;
  background: url(/img/logos/sidebar-logo.png);
  background-image: -webkit-image-set(url(/img/logos/sidebar-logo.png) 1x, url(/img/logos/sidebar-logo@2x.png) 2x);
}

.layoutWrapper > .layoutFixLeftSection > #navigation {
  width: 280px;
}

.layoutWrapper > .layoutFixLeftSection > #navigation > .navigationList {
  list-style-type: none;
  padding: 0;
  margin: 0;
  overflow: hidden;
}
.layoutWrapper > .layoutFixLeftSection > #navigation > .navigationList li a.selected {
  background-color: #1298de;
}
.layoutWrapper > .layoutFixLeftSection > #navigation > .navigationList li a {
  padding: 12px 60px 12px 40px;
  display: block;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  position: relative;
  color: white;
  text-decoration: none;
}
.layoutWrapper > .layoutFixLeftSection > #navigation > .navigationList li a :hover,
.layoutWrapper > .layoutFixLeftSection > #navigation > .navigationList li a :focus {
  color: white;
  cursor: pointer;
}
.layoutWrapper > .layoutFixLeftSection > #navigation > .navigationList li .identicationTag {
  position: relative;
  float: right;
  right: 20px;
  margin-top: -37px;
  background-color: #22b3ff;
  width: 30px;
  height: 30px;
  line-height: 30px;
  text-align: center;
  background-position: center;
}

.layoutWrapper > .layoutFixLeftSection > #app-info {
  position: absolute;
  bottom: 0;
  margin-bottom: 20px;
  margin-left: 40px;
  color: white;
}

.layoutWrapper > .layoutFluidRightSection {
  position: absolute;
  /* bottom: 90px; */
  bottom: 0px;
  top: 50px;
  left: 315px;
  right: 0;
  width: auto;
  height: auto;
  overflow: hidden;
  overflow-x: visible;
  background: url(/img/logos/logo-base.png);
  background-image: -webkit-image-set(url(/img/logos/logo-base.png) 1x, url(/img/logos/logo-base@2x.png) 2x);
  background-position: center;
  background-attach: none;
  background-repeat: no-repeat;
}

.layoutWrapper > #opacityMask {
  position: absolute;
  display: none;
  opacity: 0.7;
  background-color: #6c6c6c;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

.layoutWrapper > #modal {
  display: none;
  position: fixed;
  top: 50%;
  left: 50%;
  margin: -220px 0 0 -220px;
  width: 460px;
  min-height: 100px;
  background: white;
  box-shadow: 0px 0px 40px #1b1b1b;
}
.layoutWrapper > #modal h1 {
  padding: 15px;
  padding-left: 45px;
  color: white;
  font-size: 18px;
  text-transform: uppercase;
  font-weight: 600;
  font-family: 'Source Sans Pro', sans-serif, arial;
}
.layoutWrapper > #modal p {
  margin: 15px;
  font-weight: 500;
  font-size: 0.9em;
  color: #747474;
  line-heght: 20px;
  font-family: 'Source Sans Pro', sans-serif, arial;
}
.layoutWrapper > #modal .actions {
  overflow: hidden;
  padding: 0 15px 15px 15px;
}
.layoutWrapper > #modal .actions input {
  float: right;
}

.layoutWrapper > #modal.error {
  border-bottom: 3px solid #bb0000;
}
.layoutWrapper > #modal.error h1 {
  background: #bb0000;
  background-image: url(/img/modal-icons/error.png);
  background-image: -webkit-image-set(url(/img/modal-icons/error.png) 1x, url(/img/modal-icons/error@2x.png) 2x);
  background-position: 10px center;
  background-repeat: no-repeat;
}

.layoutWrapper > #modal.alert {
  border-bottom: 3px solid #92c83e;
}
.layoutWrapper > #modal.alert h1 {
  background: #92c83e;
  background-image: url(/img/modal-icons/alert.png);
  background-image: -webkit-image-set(url(/img/modal-icons/alert.png) 1x, url(/img/modal-icons/alert@2x.png) 2x);
  background-position: 10px center;
  background-repeat: no-repeat;
}

.layoutWrapper > #modal.info {
  border-bottom: 3px solid #306b9a;
}
.layoutWrapper > #modal.info h1 {
  background: #306b9a;
  background-image: url(/img/modal-icons/info.png);
  background-image: -webkit-image-set(url(/img/modal-icons/info.png) 1x, url(/img/modal-icons/info@2x.png) 2x);
  background-position: 10px center;
  background-repeat: no-repeat;
}

.layoutWrapper > #modal.warning {
  border-bottom: 3px solid #f9c33d;
}
.layoutWrapper > #modal.warning h1 {
  background: #f9c33d;
  background-image: url(/img/modal-icons/warning.png);
  background-image: -webkit-image-set(url(/img/modal-icons/warning.png) 1x, url(/img/modal-icons/warning@2x.png) 2x);
  background-position: 10px center;
  background-repeat: no-repeat;
}

.dropGametypeHint {
  height: 120px;
  width: 600px;
  text-align: center;
  line-height: 120px;
  margin: 0 auto;
}
.dropGametypeHint span {
  font-size: 40px;
  font-weight: 200;
  color: #7c7c7c;
}

h1 {
  font-size: 26px;
  font-weight: bold;
}
